---
import Layout from "../../components/Layout.astro";
import Nav from "../../components/Nav.astro";
import Container from "../../components/Container.astro";
import Prose from "../../components/Prose.astro";
import LinksList from "../../components/LinksList.astro";
import { getVideos, getLinks } from "../../data";
import { render } from "astro:content";

export const prerender = true;

export async function getStaticPaths() {
    const videos = await getVideos();
    return videos.map((v) => ({
        params: { slug: v.id },
        props: { ...v.data, ...v },
    }));
}
const { title, body, youtubeId, links: entryLinks } = Astro.props;
const { Content } = await render(Astro.props);
const allLinks = await getLinks("about");
const links = [...(entryLinks || []), ...allLinks];
---

<Layout title={title}>
    <Nav />
    <div class="container mx-auto px-6 my-8 lg:my-12 lg:px-0">
        <h1
            class="text-gray-500 dark:text-gray-400 font-bold text-4xl lg:text-7xl xl:text-8xl"
        >
            {title}
        </h1>
    </div>
    <Container
        classes={[
            "grid",
            "grid-cols-1",
            "lg:grid-cols-12",
            "lg:gap-12",
            "mb-20",
        ]}
    >
        <div
            class="col-span-1 text-lg lg:text-xl xl:text-2xl lg:col-span-10 dark:text-gray-100"
        >
            <div class="mb-8 sm:mb-4">
                <media-controller class="w-full aspect-video">
                    <youtube-video
                        src={`https://www.youtube.com/watch?v=${youtubeId}`}
                        slot="media"
                        controls
                        crossorigin></youtube-video>
                    <media-loading-indicator slot="centered-chrome" noautohide
                    ></media-loading-indicator>
                </media-controller>
            </div>
            <Prose>
                <Content />
            </Prose>
        </div>
        <div
            class="text-gray-700 dark:text-gray-300 mt-12 col-span-1 lg:col-span-2 lg:mt-0"
        >
            <LinksList links={links} />
        </div>
    </Container>
</Layout>
