{{ partial "header.html" . }}
<article class="post">
  <header class="post-header">
    <a class="post-link" href="{{ .Permalink }}">
      <h1 class="post-title">{{ .Title }}</h1>
    </a>
    {{- if .Param "summary" -}}
    <h2 class="post-summary">{{ .Summary }}</h2>
    {{ end }}
    <div class="post-meta">
      Published on:
      <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z0700" }}">
      {{- .Date.Format "2006.01.02" -}}
      </time>
      {{- if .Param "authors" -}}
      <div class="links">
        <span>Authored by:</span>
        {{ partial "authors-list" . }}
      </div>
      {{ end }}
      {{ if .Param "categories" }}
      <div class="links">
        <span>Filed under:</span>
        {{ partial "categories-list.html" . }}
      </div>
      {{ end }}
      {{ $featured := (.Resources.ByType "image").GetMatch "*feature*" }}
    </div>
  </header>
  <div class="post-content">{{ .Content }}</div>
</article>
{{ partial "share-buttons.html" . }}
{{ partial "footer.html" . }}
