{{ partial "header.html" . }}
<div class="introduction">
  {{ .Content }}
</div>
<div class="block">
  <h3>Journal</h3>
  {{ with .GetPage "blog" }}
  <ul class="shortlist">
    {{ range first 3 .Pages }}
    <li>
      {{ $img := (.Resources.ByType "image").GetMatch "*feature*" }}
      <a href="{{ .RelPermalink }}">
        {{ with $img }}
          {{ $lg := $img.Fill "600x450 Center" }}
          <img
            alt="{{ $img.Title }}"
            src="{{ $lg.RelPermalink }}"
            srcset="{{ $lg.RelPermalink }} 600w"
            sizes="(min-width: 1570px) 300vw, (max-width: 1569px) and (min-width: 960px) 50vw, 93vw"
            width="{{ $lg.Width }}"
          >
        {{ end }}
        <h4>{{ .Title }}</h4>
      </a>
      <div class="post-meta small">
        Published on:
        <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z0700" }}">
        {{- .Date.Format "2006.01.02" -}}
        </time>
      </div>
      <p>
        {{ .Summary | plainify | htmlUnescape }}
      </p>
    </li>
    {{ end }}
  </ul>
  {{ end }}
</div>
{{ partial "footer.html" . }}
