/**
 * Responsive Share Buttons
 * (C) Copyright 2021 Nicholas Young. All rights reserved.
 *
 * Usage and distribution of this file are governed by the Mozilla Public
 * License ("MPL"), version 2.0. See the file "LICENSE-MPL" at the root
 * of this source repository or visit https://www.mozilla.org/en-US/MPL
 * to acquire a copy.
 */

ul.share-buttons {
  font-size: .8em;
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

ul.share-buttons li {
  width: 30%;
  margin-right: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: rgba(0, 0, 0, .1) 1px solid;
}

ul.share-buttons a {
  display: flex;
  justify-content: center;
  padding: 5px;
  text-decoration: none;
  color: white;
}

ul.share-buttons svg {
  width: 25px;
}

ul.share-buttons svg path {
  fill: white;
}

ul.share-buttons span {
  margin-left: 10px;
}

ul.share-buttons li.facebook {
  background: #3b5998;
}

ul.share-buttons li.facebook:hover {
  background: #2d4373;
}

ul.share-buttons li.twitter {
  background: #55acee;
}

ul.share-buttons li.twitter:hover {
  background: #2795e9;
}

ul.share-buttons li.email {
  background: #777;
}

ul.share-buttons li.email:hover {
  background: #5e5e5e;
}

ul.share-buttons li.telegram {
  background: #0088cc;
}

ul.share-buttons li.telegram:hover {
  background: #006394;
}

ul.share-buttons li.whatsapp {
  background: #25d366;
}

ul.share-buttons li.whatsapp:hover {
  background: #1da851;
}

ul.share-buttons li.linkedin {
  background: #0077b5;
}

ul.share-buttons li.linkedin:hover {
  background: #046293;
}

@media screen and (max-width: 600px) {
  ul.share-buttons li {
    width: 75%;
  }
}