/**
 * Fader4D
 * (C) Copyright 2021 Nicholas Young. All rights reserved.
 *
 * Usage and distribution of this file are governed by the Mozilla Public
 * License ("MPL"), version 2.0. See the file "LICENSE-MPL" at the root
 * of this source repository or visit https://www.mozilla.org/en-US/MPL
 * to acquire a copy.
 */

/**
 * Theme Variables
 */
:root {
  --background: #ffffff;
  --surface: #fafafa;
  --divider: #999999;
  --base-font-size: 20px;
}

/* If light color scheme is enabled, hide enabling controls. */
:root.color-scheme-light,
:root[color-scheme="light"] .hide-light {
  display: none;
}

/* When light color scheme is enabled, display controls to switch. */
:root.color-scheme-light,
:root[color-scheme="light"] .hide-dark {
  display: inherit;
}

/* Re-define variables if user has manually indicated a preference */
@media (prefers-color-scheme: dark) {
  .hide-dark {
    display: none;
  }
}

.theme-switch-wrapper {
  display: flex;
  align-items: center;
}

.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 26px;
}

input:checked + .slider {
  background-color: #66bb6a;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/**
 * Backgrounds, font sizes, and text colors
 */

:root {
  background-color: var(--background);
  color: var(--text);
  font-size: var(--base-font-size);
  font-family: "Lato", sans-serif;
}

.page {
  background-color: var(--surface);
  margin: 0 auto 0 auto;
  max-width: 1400px;
}

body.list .page {
  padding: 0 2rem 0 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  font-family: "Lora", serif;
}

p {
  line-height: 1.5em;
  margin-bottom: 1em;
}

a {
  color: inherit;
}

header.main {
  position: relative;
}

header.main a.title h1,
header.main a.title h2 {
  display: none;
}

header.main nav.menu ul {
  display: flex;
}

header.main nav.menu ul li {
  margin-right: 0.5em;
  position: relative;
}

header.main nav.menu ul li:last-child {
  margin-right: 0;
}

/**
 * Grid Layout
 */

body > header a.title h1,
body > header a.title h2 {
  display: none;
}

footer.the-end {
  border-top: 1px solid var(--divider);
  font-size: 0.8rem;
  padding: 2em 5%;
  display: flex;
  justify-content: space-between;
}

footer.the-end h4 {
  margin-bottom: 0.5em;
}

footer.the-end .credits {
  max-width: 40%;
}

div.intro {
  font-size: 2rem;

  p {
    font-size: 1rem;
  }
}

img.profile {
  max-width: 300px;
  border-radius: 50%;
}
