/**
 * Fader4D
 * (C) Copyright 2021 Nicholas Young. All rights reserved.
 *
 * Usage and distribution of this file are governed by the Mozilla Public
 * License ("MPL"), version 2.0. See the file "LICENSE-MPL" at the root
 * of this source repository or visit https://www.mozilla.org/en-US/MPL
 * to acquire a copy.
 */

/**
 * Theme Variables
 */
:root {
  --background: #ffffff;
  --surface: #fafafa;
  --divider: #999999;
  --base-font-size: 20px;
}

/* If light color scheme is enabled, hide enabling controls. */
:root.color-scheme-light,
:root[color-scheme="light"] .hide-light {
  display: none;
}

/* When light color scheme is enabled, display controls to switch. */
:root.color-scheme-light,
:root[color-scheme="light"] .hide-dark {
  display: inherit;
}

/* Re-define variables if user has manually indicated a preference */
@media (prefers-color-scheme: dark) {
  .hide-dark {
    display: none;
  }
}
