---
import Layout from "../components/Layout.astro";
import Nav from "../components/Nav.astro";
import Intro from "../components/Intro.astro";
---

<Layout>
    <Nav />
    <Intro />
    <div class="container mx-auto px-6 mt-12 lg:px-0 lg:mt-24"></div>
</Layout>
