---

---

<div
    class="space-y-8 lg:outline-1 lg:outline-gray-300 mx-auto max-w-6xl px-6 lg:p-12 lg:rounded-2xl"
>
    <h3 class="text-center text-3xl text-gray-900 font-bold dark:text-white">
        Get in Touch
    </h3>
    <p class="text-xl font-light text:gray-900 dark:text-gray-300">
        If you need help with a video or other piece of content, reach out to <a
            class="underline"
            href="https://fictiveflame.co">Fictive Flame Media</a
        >. Otherwise, feel free to use the email for any other ideas, proposals,
        or review requests.
    </p>
    <span class="text">
        <pre
            class="text-center text-gray-700 dark:text-gray-300">hello@secretfader.com</pre>
    </span>
</div>
