---
import Subscription from "../components/Subscription.astro";
---

<div
    class="mx-auto max-w-xl p-6 mt-8 lg:border-gray-300 lg:border-1 lg:rounded-2xl lg:mt-12"
>
    <h4
        class="text-2xl font-bold text-center text-gray-700 dark:text-gray-300 mt-4 mb-8"
    >
        Filmmaking Tips, Tools &amp; Techniques
    </h4>
    <Subscription />
</div>
<footer class="my-8">
    <div class="text-center mt-10">
        <span class="text-gray-200 text-xs"
            >Copyright 2015-2025 Nicholas Young. All rights reserved.</span
        >
    </div>
</footer>
