---
import Contact from "./Contact.astro";
---

<div class="mb-8 mt-12 lg:mt-16">
    <Contact />
    <div class="text-center mt-10">
        <span class="text-gray-200 text-xs"
            >Copyright 2015-2025 Nicholas Young. All rights reserved.</span
        >
    </div>
</div>
