---
import Subscription from "../components/Subscription.astro";
---

<div
    class="mx-auto max-w-xl p-6 border-gray-300 border-solid border-t lg:border lg:rounded-2xl lg:mt-12"
>
    <Subscription />
</div>
<footer class="my-8">
    <div class="text-center mt-10">
        <span class="text-gray-200 text-xs"
            >Copyright 2015-2025 Nicholas Young. All rights reserved.</span
        >
    </div>
</footer>
