---

---

<footer class="my-8">
    <div class="text-center mt-10">
        <span class="text-gray-200 text-xs"
            >Copyright 2015-2025 Nicholas Young. All rights reserved.</span
        >
    </div>
</footer>
