---
import { Image } from "astro:assets";
---

<div class:list={Astro.props.classes}>
    {
        (Astro.props.images || [])
            .sort((a, b) => 0.5 - Math.random())
            .slice(0, 3)
            .map((p) => (
                <div class="aspect-square">
                    <Image
                        class="w-full object-cover aspect-square"
                        src={p}
                        alt=""
                    />
                </div>
            ))
    }
    <div></div>
</div>
