---
interface Props {
    title: string;
    description?: string;
}

const { title, description } = Astro.props;
---

<div class="container mx-auto px-6 my-8 lg:my-12 lg:px-0">
    <h1
        class="text-gray-500 dark:text-gray-400 font-bold text-4xl lg:text-7xl xl:text-8xl"
    >
        {title}
    </h1>
    {
        description ? (
            <div class="text-xl lg:text-3xl mt-8 dark:text-gray-400 lg:mt-12">
                <span>{description}</span>
            </div>
        ) : undefined
    }
</div>
