---
import profile from "../assets/profile.jpg";
import { Image } from "astro:assets";
---

<div
    class="container mx-auto px-6 grid grid-cols-1 mt-12 lg:grid-cols-12 lg:gap-12 lg:px-0 lg:mt-24"
>
    <div class="flex flex-col justify-center antialiased lg:col-span-8">
        <h2
            class="text-gray-500 font-bold text-4xl sm:text-6xl lg:text-8xl xl:text-9xl"
        >
            Design, create, broadcast. Repeat.
        </h2>
        <p class="text-xl mt-8 sm:text-2xl lg:text-3xl lg:mt-12">
            I'm Nicholas, an engineer, filmmaker, and creative director from
            Colorado.
        </p>
        <p class="text-xl mt-4 sm:text-2xl lg:text-3xl lg:mt-8">
            I use interdisciplinary methods to blend art and science; capturing
            stories, creating experiences, and sharing perspectives you've never
            heard before.
            <a class="underline text-gray-700" href="/about"
                >Learn more about my work.</a
            >
        </p>
    </div>
    <div class="flex flex-col justify-center mt-8 lg:mt-0 lg:col-span-4">
        <Image
            src={profile}
            alt="Profile photo of the author"
            width="800"
            height="800"
            class="rounded-2xl shadow-gray-300 shadow-lg object-cover h-full max-h-72 lg:max-h-none"
        />
    </div>
</div>
