---
import profile from "../assets/profile.jpg";
import { Image } from "astro:assets";
---

<div
    class="container mx-auto px-6 grid grid-cols-1 mt-12 lg:grid-cols-12 lg:gap-12 lg:px-0 lg:mt-24"
>
    <div class="flex flex-col justify-center antialiased lg:col-span-8">
        <h2
            class="text-gray-500 font-bold text-5xl mb-8 dark:text-gray-400 lg:text-8xl"
        >
            Design, create, broadcast. Repeat.
        </h2>
        <div class="text-xl lg:text-2xl dark:text-gray-300">
            <p>
                I'm Nicholas, a filmmaker, engineer, and creative director from
                Colorado.
            </p>
            <p class="mt-4 xl:mt-8">
                I use interdisciplinary methods to blend art and science;
                capturing stories, creating experiences, and sharing
                perspectives you've never heard before.
            </p>
            <p class="mt-4 xl:mt-8">
                Do you or your project need a creative upgrade?
                <a
                    class="underline text-gray-700 dark:text-gray-400"
                    href="/contact"
                >
                    Let's chat about how I can help</a
                >.
            </p>
        </div>
    </div>
    <div class="flex flex-col justify-center mt-8 lg:mt-0 lg:col-span-4">
        <Image
            src={profile}
            alt="Profile photo of the author"
            width="800"
            height="800"
            class="rounded-2xl shadow-gray-300 dark:shadow-gray-800 shadow-lg object-cover h-full max-h-72 lg:max-h-none"
        />
    </div>
</div>
