---
interface Props {
    links: any[];
}

const { links } = Astro.props;
---

<div>
    <span class="font-semibold uppercase underline underline-offset-8"
        >Links</span
    >
    <ul class="mt-4">
        {
            (links || []).map((l) => (
                <li class="relative">
                    <a target="_blank" rel="noopener" href={l.href}>
                        {l.title}
                    </a>
                </li>
            ))
        }
    </ul>
</div>
