---
const { links } = Astro.props;
---

<div>
    <span class="font-semibold uppercase underline underline-offset-8"
        >Links</span
    >
    <ul>
        {
            (links || []).map((l) => (
                <li class="relative my-4">
                    <a
                        class="block mb-1"
                        target="_blank"
                        rel="noopener"
                        href={l.href}
                    >
                        {l.title}
                    </a>
                </li>
            ))
        }
    </ul>
</div>
