---

---

<nav class="w-full py-6 bg-gray-100">
    <div class="container mx-auto px-6 flex justify-between lg:px-0">
        <span class="flex uppercase text">
            <a href="/">Nicholas Young</a>
        </span>
        <div class="flex justify-center">
            <ul class="flex uppercase">
                <li class="me-2">
                    <a href="/about" class="hover:text-gray-400">About</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
