---
import ThemeToggle from "./ThemeToggle.astro";

const nav = [
    {
        href: "/podcasts/craft-and-process",
        title: "Podcast",
    },
    {
        href: "/about",
        title: "About",
    },
];
---

<nav
    class="w-full py-6 bg-gray-100 dark:bg-gray-800 text-lg antialiased dark:text-gray-200"
>
    <div class="container mx-auto px-6 flex justify-between lg:px-0">
        <span class="flex uppercase font-semibold">
            <a href="/">Nicholas Young</a>
        </span>
        <div class="flex justify-center">
            <ul class="flex uppercase">
                {
                    nav.map((e, i, a) =>
                        i === a.length - 1 ? (
                            <li>
                                <a href={e.href} class="hover:text-gray-400">
                                    {e.title}
                                </a>
                            </li>
                        ) : (
                            <li class="me-2">
                                <a href={e.href} class="hover:text-gray-400">
                                    {e.title}
                                </a>
                            </li>
                        ),
                    )
                }
            </ul>
            <ThemeToggle />
        </div>
    </div>
</nav>
