---

---

<div
    class="prose !max-w-none dark:prose-invert
  prose-h1:font-bold prose-h1:text-2xl
  prose-a:text-gray-600 prose-p:text-lg prose-img:rounded-xl
  prose-headings:underline sm:prose-p:text"
>
    <slot />
</div>
