---
import { getCollection } from "astro:content";

import { getVideos, byDate } from "../data";
const videos = [
    {
        data: {
            youtubeId: "Lx-7uL-3CK0",
        },
    },
    {
        data: {
            youtubeId: "Lo-DLJoo4mQ",
        },
    },
    {
        data: {
            youtubeId: "srzllhKadwI",
        },
    },
];
---

{
    videos
        .sort((a, b) => 0.5 - Math.random())
        .slice(0, 1)
        .map((e) => (
            <div class="relative z-10 col-span-1 mb-8 text-gray-700 dark:text-gray-300 lg:col-span-4 lg:mb-0 hover:text-gray-500">
                <media-controller class="w-full aspect-video">
                    <youtube-video
                        src={`https://www.youtube.com/watch?v=${e.data.youtubeId}&hd=1`}
                        slot="media"
                        crossorigin
                    />
                    <media-loading-indicator
                        slot="centered-chrome"
                        noautohide
                    />
                </media-controller>
            </div>
        ))
}
