---
import { getCollection } from "astro:content";
import { YouTube } from "@astro-community/astro-embed-youtube";
import { getVideos, byDate } from "../data";
const videos = (await getVideos()).sort(byDate);
---

{
    videos.map((e) => (
        <div class="relative z-10 col-span-1 mb-8 text-gray-700 dark:text-gray-300 lg:col-span-4 lg:mb-0 hover:text-gray-500">
            {e.data.youtubeId ? <YouTube id={e.data.youtubeId} /> : undefined}
            <a href={`/watch/${e.id}`}>
                <span class="inset-0 absolute" />
                <h2 class="text-3xl font-semibold mt-4">{e.data.title}</h2>
            </a>
            <p class="mt-4">{e.data.description}</p>
        </div>
    ))
}
