---
import { channelId, getRecentVideos } from "../utils/youtube";
import { decode } from "html-entities";
import { YouTube } from "astro-embed";

const videos = await getRecentVideos(channelId);
---

<div>
    {
        videos.slice(0, 10).map((v) => (
            <div class="mb-16">
                <YouTube
                    class="mx-auto"
                    posterQuality="max"
                    id={v.id.videoId}
                />
                <h3 class="mt-4 text-center text-2xl text-gray-800 dark:text-gray-200">
                    {decode(v.snippet.title)}
                </h3>
            </div>
        ))
    }
</div>
