---
import { channelId, getRecentVideos } from "../utils/youtube";
import { YouTube } from "astro-embed";

const videos = await getRecentVideos(channelId, 20);
---

<div>
    {
        videos.slice(0, 4).map((v) => (
            <div class="mb-12">
                <YouTube
                    class="mx-auto"
                    posterQuality="max"
                    id={v.id.videoId}
                />
                <h3 class="mt-4 text-center text-2xl text-gray-800">
                    {v.snippet.title}
                </h3>
            </div>
        ))
    }
</div>
