---
import { getChannel, getRecentVideos } from "../utils/youtube";
import { YouTube } from "astro-embed";

const { id } = await getChannel();
const videos = await getRecentVideos(id, 20);
---

<div>
    {
        videos.slice(0, 4).map((v) => (
            <div class="mb-4">
                <YouTube class="mx-auto" id={v.id.videoId} />
            </div>
        ))
    }
</div>
