---
import profile from "../assets/profile.jpg";
import youtube from "../assets/youtube.svg";
import { YouTube } from "astro-embed";
---

<div class="max-w-4xl mx-auto">
    <img class="mx-auto mb-12 max-w-80 rounded-full" src={profile.src} />
    <h1 class="text-5xl font-bold inline pr-2">nicholas young</h1>
    <h2 class="text-5xl font-bold text-zinc-500 inline">
        is a storyteller, educator, and creative hacker from denver, colorado.
    </h2>
    <ul class="mt-12 mb-4 flex flex-row justify-around">
        <li>
            <a href="https://youtube.com/@secretfader">
                <img class="w-12" src={youtube.src} />
            </a>
        </li>
    </ul>
</div>
<div class="w-full max-w-9xl mx-auto px-4 mt-12 mb-12">
    <div class="xl:flex xl:justify-around">
        <div class="w-full max-xl:mt-8 xl:mr-4">
            <YouTube
                class="mx-auto"
                posterQuality="max"
                id="https://youtu.be/tRK1-PYRD-I"
            />
        </div>
        <div class="w-full max-xl:mt-8 xl:mr-4">
            <YouTube
                class="mx-auto"
                posterQuality="high"
                id="https://youtu.be/KpPj7xuiFKM"
            />
        </div>
        <div class="w-full max-xl:mt-8 xl:mr-4">
            <YouTube
                class="mx-auto"
                posterQuality="max"
                id="https://youtu.be/oLzNuQCZH3s"
            />
        </div>
    </div>
</div>
