<div class="theme-toggle">
  <label>
    <input type="checkbox"/>
    <div class="planet"></div>
    <div class="elements">
      <svg version="1.1" viewBox="0 0 500 500" xmlns="http://www.w3.org/2000/svg">
        <circle cx="250" cy="250" r="200" />
      </svg>
      <svg version="1.1" viewBox="0 0 500 500" xmlns="http://www.w3.org/2000/svg">
        <circle cx="250" cy="250" r="200" />
      </svg>
      <svg version="1.1" viewBox="0 0 500 500" xmlns="http://www.w3.org/2000/svg">
        <circle cx="250" cy="250" r="200" />
      </svg>
      <svg version="1.1" viewBox="0 0 500 500" xmlns="http://www.w3.org/2000/svg">
        <circle cx="250" cy="250" r="200" />
      </svg>
      <svg version="1.1" viewBox="0 0 500 500" xmlns="http://www.w3.org/2000/svg">
        <circle cx="250" cy="250" r="200" />
      </svg>
      <svg version="1.1" viewBox="0 0 500 500" xmlns="http://www.w3.org/2000/svg">
        <circle cx="250" cy="250" r="200" />
      </svg>
      <svg version="1.1" viewBox="0 0 500 500" xmlns="http://www.w3.org/2000/svg">
        <circle cx="250" cy="250" r="200" />
      </svg>
      <svg version="1.1" viewBox="0 0 500 500" xmlns="http://www.w3.org/2000/svg">
        <circle cx="250" cy="250" r="200" />
      </svg>
    </div>
  <label>
</div>
