<meta charset="utf-8" />
<meta name="color-scheme" content="light dark" />
<meta
  name="viewport"
  content="width=device-width, initial-scale=1, shrink-to-fit=no"
/>
{{- if eq .Kind "page" -}}
  <meta name="description" content="{{ .Summary }}" />
  <meta
    name="author"
    content="{{ .Params.author | default .Site.Params.author }}"
  />
  {{- with .Keywords -}}
    <meta
      name="keywords"
      content="{{ range $i, $e := . }}{{ if $i }},{{ end }}{{ $e }}{{ end }}"
    />
  {{- end -}}
{{- else }}
  <meta name="description" content="{{ .Site.Params.description }}" />
  <meta name="author" content="{{ .Site.Params.author }}" />
{{- end }}
