{{ partial "header.html" . }}
<div>
  {{ .Content }}
  <form id="contact" data-controller="contact-form" data-action="submit->contact-form#process">
    <label for="contact-name">Name</label>
    <input type="text" name="name" id="contact-name" data-action="blur->contact-form#update" required/>
    <label for="contact-email">Email Address</label>
    <input type="email" name="email" data-action="blur->contact-form#update" required/>
    <label for="contact-message">Message<label>
    <textarea id="contact-message" name="message" data-action="blur->contact-form#update"></textarea>
    <button>Send</button>
  </form>
</div>
{{ partial "footer.html" . }}
