<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>Nicholas Young</title>
    </head>
    <body class="text-zinc-600 font-humanist">
        <div class="max-w-xl mx-auto p-4">
            <nav class="my-4">
                <ul class="flex flex-row justify-between"></ul>
            </nav>
            <slot />
        </div>
    </body>
</html>
