---
import profile from "../assets/profile.jpg";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <meta name="og:image" content={profile.src} />
        <script
            defer
            src="https://cloud.umami.is/script.js"
            data-website-id="1d43dc8a-52a5-41ee-a3ef-acc0badb7398"></script>
        <title>Nicholas Young</title>
    </head>
    <body class="text-zinc-600 font-humanist">
        <div class="max-w-xl mx-auto p-4">
            <nav class="my-4">
                <ul class="flex flex-row justify-between"></ul>
            </nav>
            <slot />
        </div>
    </body>
</html>
