---
import profile from "../assets/profile.jpg";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="sitemap" href="/sitemap-index.xml" />
        <meta name="generator" content={Astro.generator} />
        <meta name="og:image" content={profile.src} />
        <script
            defer
            src="https://cloud.umami.is/script.js"
            data-website-id="1d43dc8a-52a5-41ee-a3ef-acc0badb7398"></script>
        <title>Nicholas Young</title>
    </head>
    <body class="font-humanist bg-white dark:bg-gray-900">
        <nav class="max-w-4xl mx-auto my-4">
            <ul class="flex flex-row justify-around text-center"></ul>
        </nav>
        <slot />
    </body>
</html>
