---
import { type CollectionEntry, getCollection } from "astro:content";
import Layout from "../../../../layouts/Layout.astro";

type Props = CollectionEntry<"dispatch">;

export async function getStaticPaths() {
    const posts = await getCollection("dispatch");
    return posts.map((post: any) => ({
        params: { slug: post.data.number },
        props: post,
    }));
}
---

<Layout>
    <h1 class="text-5xl font-medium text-zinc-600 mb-6 p-0">Thing!!</h1>
    <article></article>
</Layout>
